In [1]:
print("hello")

hello

In [2]:
import numpy as np

my_pokemon = list()
my_pokemon

[]

In [3]:
my_pokemon = ["Charizard","Wartortle","Pikachu"]
my_pokemon

['Charizard', 'Wartortle', 'Pikachu']

In [4]:
my_pokemon_array = np.array(["Charizard","Wartortle","Pikachu"])
my_pokemon_array

array(['Charizard', 'Wartortle', 'Pikachu'], dtype='<U9')

In [6]:
import pandas as pd
my_pokemon_dataframe = pd.DataFrame(["Charizard","Wartortle","Pikachu"])
my_pokemon_dataframe

           0
0  Charizard
1  Wartortle
2    Pikachu